body{
    font-family: sans-serif;
    background-color: bisque;
}

fieldset {
    padding: 20px;
    background-color:powderblue;
}

form{
    margin-bottom: 15px;
}

label {
    font-size: 16px;
}

input[type="submit"], input[type="reset"]{
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
    font-size: 14px;
}

a{
    font-size: 20px;
}

a:visited{
    color:indigo
}