<!DOCTYPE html>
<html lang="en">
<head>
    <title>Entry Processed</title>
    <meta charset="utf-8">
</head>
<body>
    <h3>Following entry is logged: </h3>
    <pre>
        Name: <%- name %>
        Email: <%- email %>
        Food Description: <%- desc %>
        Number of Calories: <%- calories %>
    </pre>
    <a href="/">Main Page</a>
</body>
</html>