<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Meal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/forms.css" type="text/css">
</head>
<body>
    <h1>Add Meal</h1>
    <form action="/addMealProcessed" method="post">
        <fieldset>
            <div>
                <label>Email: <input type="email" name="email" required></label>
            </div>
            <br>
            <label>Type a description of the meal/food you ate:</label>
            <div><textarea rows="6" cols="50" name="desc"></textarea></div>
            <input type="submit" value="Add Entry">
            <input type="reset" value="Clear Entry">
        </fieldset>
    </form>
    <a href="/">Main Page</a>
</body>
</html>