<!DOCTYPE html>
<html lang="en">
<head>
    <title>Display Total Calories</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/forms.css" type="text/css">
</head>
<body>
    <h1>Display Calories</h1>
    <form action="/displayCaloriesProcessed" method="post">
        <fieldset>
            <div>
                <label>Email: <input type="email" name="email" required></label>
            </div>
            <br>
            <input type="submit" value="Display Calories">
            <input type="reset" value="Clear Email">
        </fieldset>
    </form>
    <a href="/">Main Page</a>
</body>
</html>