<!DOCTYPE html>
<html lang="en">
<head>
    <title>Display Total Calories</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/CSS/displayCaloriesPost.css" type="text/css">
</head>
<body>
    <h1>Total Calories</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Food</th>
                <th>Calories</th>
            </tr>
        </thead>
        <tbody>
            <%- elements %>
        </tbody>
    </table>
    <div class="alignAnchor">
        <a href="/">Main Page</a>
    </div>
</body>
</html>