<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Meal</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Welcome to the Calorie Counter Webpage</h1>
    <h2>How does this app work? </h2>
    <p>Our application is meant to allow you to track your calories based on a description of the food you have ate. We simply ask you to add a meal (described below) and we will keep track
        of what you have eaten for the current day. Once you have entered your meal, you can click on a seperate link that will give you the total calories that you have eaten for the
        day. 
    </p>
    <h2>Steps to using the application</h2>
    <ul>
        <li> <strong>Creating an account: </strong>
            If you already have an account, go to the next step, otherwise, continue reading.
            Click on <a href="/addAccount">create an account</a> and fill out your name
            and email to create an account to use with our application.
        </li>
        <li> <strong>Adding a food item or meal: </strong>
            Now, to add a food item or a meal, click on <a href="addMeal">Add Food</a>. You will be
            asked to enter your email again (so we can keep track of what you have ate today) and a description 
            of the food you just ate. If you wish to add more than one food item or meal, please enter them in seperately
            so that we have time to process your entries.
        </li>
        <li> <strong>Seeing total calories: </strong>
            Once you have entered at least one food item or meal, you can now view the total calories you
            have consumed today, as well as how many calories each entry was by clicking on
            <a href="/displayCalories">Display Total Calories</a> and entering your email once again.
        </li>
    </ul>
</body>
</html>